:root {
    --border: rgb(110, 39, 202);

    --gradient1: rgb(109, 57, 192);
    --gradient2: rgb(255, 145, 182);
    --gradient3: rgb(156, 220, 250);
}

* {
    box-sizing: border-box;
}


body {
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    place-items: center;
}

.card {
    height: 70%;
    border: 0.5vmin solid var(--border);
    cursor: pointer;
    position: relative;
    width: 56vmin;
}

.card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.05, 1.05);
}

.card:hover > .card-content {
    background-position: -10% 0%;
}

.card:hover > .card-content > .subtitle > .subtitle-word {
    opacity: 1;
    transform: translateY(0%);
    transition: opactiy 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card:before {
    background: linear-gradient(
        130deg,
        transparent 0% 33%,
        var(--gradient1) 66%,
        var(--gradient2) 83.5%,
        var(--gradient3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: background-position 200ms ease, transform 200ms ease;
    width: 100%;
    z-index: 1;
}

.card-content {
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.2) 8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: 100%;
    padding: 5vmin;
    position: relative;
    transition: background-position 200ms ease;
    width: 100%;
    z-index: 2;
}

.title,
.subtitle {
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0px;
}

.title {
    font-size: 6vmin;
}

.subtitle {
    font-size: 3vmin;
    margin-top: 2vmin;
}

.subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;  
    transform: translateY(40%);
    transition: none;
}
  
.card-icon {
    bottom: 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 7vmin;
    left: 0px;
    margin: 5vmin;
    position: absolute;
    transition: color 250ms ease;
    z-index: 2;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgb(20, 20, 20);
    text-align: center;
}

p {
    font-family: "Poppins";
    color: white;
}